*{
	margin:0;
	padding: 0;
}
body{
	background-color: #FFE8D4;
}

.moon{
	transform: translate3d(0, 0, 0);
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	background: #31fbf3;
	margin:auto;
	width: 200px;
	height:200px;
	border-radius:100px;
}

@-webkit-keyframes orbit{
	from{
		-webkit-transform:rotateX(0) rotateY(359deg);
	}
	to{
		-webkit-transform:rotateX(359deg) rotateY(-359deg);
	}
}
@keyframes orbit{
	from{
		-webkit-transform:rotateX(0) rotateY(359deg);
		transform:rotateX(0) rotateY(359deg);
	}
	to{
		-webkit-transform:rotateX(359deg) rotateY(-359deg);
		transform:rotateX(359deg) rotateY(-359deg);
	}
}
.moon:before,.moon:after{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	content:"";
	z-index:1;
	width: 40px;
	height:40px;
	border-radius:50px;
	background: #555;
	backface-visibility:hidden;
	-webkit-transform-origin:center center -133.33333px; /*s设置动画开始位置x axis y axis z axis*/
	transform-origin:center center -133.33333px;
	-webkit-animation:orbit 3s linear infinite;
	animation:orbit 3s linear infinite;
}

.moon:before{
	width: 30px;
	height:30px;
	transform-origin:center center -100px;
	-webkit-transform-origin:center center -100px;
	background:#555;
	opacity: 0.5;
}
.moon.behind:after{
	-webkit-backface-visibility:visible;
	backface-visibility:visible;
}